<ul >

  <% arrayOfInfo.forEach(item => { %>
    <li><%= item.title %></li>
    <li><%= item.type %></li>
    <li><%= item.created %></li>
    <li><%= item.description %></li>
    <li><%= item.company %></li>

    <% }) %>
</ul>